body{
    background-image: url(./bg/download.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}

.text-container{
    text-align:center;
}
.header{
    font-size:larger;
}

input{

    font-size:large;
}
.info{
    font-size: large;
    margin: 10px;
}